*,
body {
  font-family: "DM Sans", sans-serif;
}

#contact_modal {
  display: none;
}

.photograph-header {
  background-color: #fafafa;
  height: 300px;
  margin: 0 100px;
}
#main_photographer {
  width: 93%;
  margin: auto;
}
#logo-img {
  height: 50px;
  height: 50px;
  margin: 28px 50px;
}
.infosContainer {
  display: flex;
  align-items: center;
  background: #eceff1;
  padding: 28px 30px;
  justify-content: space-between;
  margin: auto;
  width: 89%;
  border-radius: 5px;
}
.infos-name {
  color: #d3573c;
  font-size: 36px;
}
.profilPicture img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow: 0px 4px 12px rgb(0 0 0 / 25%);
  object-fit: cover;
}
/*filtre */
.filterContainer {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  margin: 27px 50px;
  align-items: center;
}
.filterContainer__filter {
  margin-left: 1rem;
  font-weight: 600;
  font-size: 16px;
  color: white;
  padding: 11px;
  height: 45px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}
select.filter {
  margin-left: 1rem;
  font-weight: 700;
  font-size: 18px;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}

/*Portfolio*/
.portfolioContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
 /* margin: 0 16px;*/
}
figure.portfolio__media {
  margin: 0;
 
}
img.portfolio__media-img {
  border-radius: 5px;
  width: 350px;
  height: 350px;
  object-fit: cover;
  cursor: pointer;
}
p.portfolio__media-text-title {
  font-size: 20px;
  color: #901c1c;
  font-weight: 400;
}
.portfolio__media-video {
  border-radius: 5px;
  width: 350px;
  height: 350px;
  object-fit: cover;
  cursor: pointer;
}

.portfolio__media-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
.portfolio__media-text-icon {
  display: flex;
  font-size: 24px;
  color: #901c1c;
  font-weight: 400;
  align-items: stretch;
}
.portfolio__media-text-icon button {
  background-color: #fff;
  border: none;
  outline: 0;
}
.portfolio__media-text-icon p {
  margin: 5px;
}
/*a.openLightbox:focus {
  border: none;
  outline: 0;
}*/
.portfolio__media-text-icon img:hover {
  transform: scale(1.2)
}
/*Price */
.pricing {
  background-color: #db8876;
  position: fixed;
  bottom: 0;
  right: 16px;
  width: 32%;
  border-radius: 5px 5px 0px 0px;
  display: flex;
  padding: 0 10px;
  justify-content: space-between;
}

.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}
.infos__contact {
  width: 33%;
}
.contact_button:hover {
  background-color: #d3573c;
}
#contact_modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(26, 39, 156, 0.4);
}
div#contact_modal {
  background-color: white;
}

.modal {
  border-radius: 5px;
  background-color: #db8876;
  width: 40%;
  display: flex;
  flex-direction: column;
  padding: 35px;
  margin: 5% auto;
  padding-top: 10px;
}

.modal header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.modal header img {
  cursor: pointer;
}

.modal header h2 {
  font-size: 52px;
  font-weight: normal;
}
.modalSubtitle-text {
  justify-content: space-between;
  width: 100%;
  font-size: 52px;
  position: absolute;
  top: 16%;
}
p.modal__subtitle-text {
  font-size: 2rem;
  margin-top: -8%;
  font-weight: 600;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;

}
button.close-contact-modal {
  background-color: #db8876;
  border: none;
}

form label {
  color: #312e2e;
  font-size: 36px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
}

form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
}
textarea#message {
  width: 100%;
  border: none;
  border-radius: 5px;
}
/*lightbox*/

.lightbox {
  display: none;
}
.lightbox {
  position: fixed;
  z-index: 1;

}
.lightbox .container {
  width: 100%;
  height: 100vh;
  position: fixed;
  margin: auto;
  bottom: 0px;
  background-color: white;
}
.container div {
  display: flex;
    justify-content: center;
  margin: 5% auto;
 
}

.lightbox .container .media {
  object-fit: contain;
    width: 78%;
    height: 78vh;
}

.lightbox .close {
  position: fixed;
  width: 3%;
  right: 6%;
  top: 9%;
  cursor: pointer;
}

.lightbox .previous {
  position: fixed;
  width: 27px;
  left: 6%;
  top: 50%;
  cursor: pointer;
}
.lightbox .next {
  position: fixed;
  width: 27px;
  right: 6%;
  top: 50%;
  cursor: pointer;
}
.price {
  background-color: #db8876;
  position: fixed;
  bottom: 0;
  right: 50px;
  width: 376px;
  border-radius: 5px 5px 0px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

/*message error*/
.error {
  font-size: 20px;
  color: red;
  font-weight: 600;
  margin-top: 8px;
}
/*message error success*/
.formData.success input {
  border: 2px solid #2ecc71;
}

@media screen and (max-width: 992px) {
  figure.portfolio__media {
    width: 40%;
  }
  img.portfolio__media-img,
  .portfolio__media-video {
    width: 100%; /**/
  }
}

@media screen and (max-width: 500px) {
  #logo-img {
    margin: 5px;
  }
  header a {
    margin: 0;
  }
  .infosContainer {
    flex-direction: column;
    align-items: center;
    margin: auto;
  }
  .modal {
    width: 82%;
    margin: auto;

  }
  .modal header {
    flex-direction: row;
  }
  .modal header img {
    width: 16px;
  }
  .modal header h2 {
    font-size: 2.5rem;
    font-weight: 500;
  }
  p.modal__subtitle-text {
    font-size: 2.5rem;
    margin-top: -18%;
    font-weight: 500;
}
  form div {
    width: 100%;
    margin-bottom: auto;
  }
  form label {
    font-size: 1.8rem;
  }
  .infos__contact {
    width: 54%;
}
  form input {
    height: 50px;
    width: 98%;
  }
  .error {
    font-size: 1rem;
  }
  textarea [name="message"] {
    width: 100%;
  }
  textarea#message {
    width: 98%;
}
  button.contact_button {
    margin-top: 15px;
    height: 48px;
    width: 93%;
  }

  /*portfolio*/
  .filterContainer {
    justify-content: center;
}
  #main_photographer {
    width: 100%;
    margin: auto;
}
  .portfolioContainer {
    flex-direction: column;
    margin-left: 15px;
  }
  figure.portfolio__media {
    width: 100%;
    margin: auto;
  }
  .lightbox .container {
    width: 98%;
    height: 108vh;
  }
  .lightbox .container .media {
    width: 100%;
    height: 116vh;
  }
  .lightbox .close {
    width: 9%;
    right: 6%;
    top: 1%;
  }
  .pricing {
    right: 0;
    width: 90%;
    margin: 20px 19px 0;
    padding-top: 0px;
  }
  p.pricing__price {
    margin: auto;
  }
}
