#contact_modal {
  display: none;
}

.photograph-header {
  background-color: #fafafa;
  height: 300px;
  margin: 0 100px;
}
#main_photographer {
  width: 90%;
  margin: auto;
}
.logo {
  height: 50px;
  margin: 24px 72px;
}
.infosContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background: #eceff1;
  padding: 28px 0;
  width: 100%;
  justify-content: space-around;
}
.infos-name {
  color: #d3573c;
  font-size: 36px;
}
.profilPicture img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow: 0px 4px 12px rgb(0 0 0 / 25%);
  object-fit: cover;
}
/*filtre */
.filterContainer {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
  display: flex;
}
.filterContainer__filter {
  margin-left: 1rem;
  font-weight: 600;
  font-size: 16px;
  color: white;
  padding: 11px;
  height: 45px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}
select.filter {
  margin-left: 1rem;
  font-weight: 700;
  font-size: 18px;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}

/*Portfolio*/
.portfolioContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
figure.portfolio__media {
  width: 25%;
}

img.portfolio__media-img {
  border-radius: 5px;
  width: 350px;
  height: 350px;
  object-fit: cover;
  cursor: pointer;
}
p.portfolio__media-text-title {
  font-size: 24px;
  color: #901c1c;
  font-weight: 400;
}
.portfolio__media-video {
  border-radius: 5px;
  width: 350px;
  height: 350px;
  object-fit: cover;
  cursor: pointer;
}

.portfolio__media-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
.portfolio__media-text-icon {
  display: flex;
  font-size: 24px;
  color: #901c1c;
  font-weight: 400;
}
.portfolio__media-text-icon p {
  margin: 5px;
}
/*Price */
.pricing {
  background-color: #db8876;
  position: fixed;
  bottom: 0;
  right: 50px;
  width: 376px;
  border-radius: 5px 5px 0px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}
.contact_button:hover {
  background-color: #d3573c;
}
#contact_modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(26, 39, 156, 0.4);
}

.modal {
  border-radius: 5px;
  background-color: #db8876;
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 35px;
  margin: 5% auto;
  padding-top: 10px;
}

.modal header {
  display: flex;
  justify-content: space-between;
}

.modal header img {
  cursor: pointer;
}

.modal header h2 {
  font-size: 52px;
  font-weight: normal;
  text-align: center;
}
.modalSubtitle-text {
  justify-content: space-between;
  width: 100%;
  font-size: 52px;
  position: absolute;
  top: 16%;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 78px;
}

form label {
  color: #312e2e;
  font-size: 36px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
}
textarea#message {
  width: 100%;
  border: none;
  border-radius: 5px;
}
/*lightbox*/

.lightbox {
  display: none;
}

.lightbox .container {
  width: 1050px;
  height: 900px;
  position: fixed;
  margin: auto;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

.lightbox .container .media {
  width: 100%;
  height: 900px;
  margin: auto;
  object-fit: cover;
}

.lightbox .close {
  position: fixed;
  width: 13%;
  height: 42px;
  right: 14%;
  top: 77px;
  cursor: pointer;
}

.lightbox .previous {
  position: fixed;
  width: 48px;
  height: 29px;
  left: 131px;
  top: 488px;
  cursor: pointer;
}
.lightbox .next {
  position: fixed;
  width: 48px;
  height: 29px;
  right: 131px;
  top: 488px;
  cursor: pointer;
}
.price {
  background-color: #db8876;
  position: fixed;
  bottom: 0;
  right: 50px;
  width: 376px;
  border-radius: 5px 5px 0px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

/*message error*/
.error {
  font-size: 20px;
  color: red;
  font-weight: 600;
  margin-top: 8px;
}
/*message error success*/
.formData.success input {
  border: 2px solid #2ecc71;
}

@media screen and (max-width: 992px) {
  figure.portfolio__media {
    width: 24%;
  }
  img.portfolio__media-img,
  .portfolio__media-video {
    width: 265px;
    margin-left: -36px;
  }
}

@media screen and (max-width: 500px) {
  .logo {
    padding-top: 10px;
  }
  .modal {
    width: 80%;
    margin: auto;
  }
  .modal header {
    flex-direction: row;
  }
  .modal header img {
    width: 16px;
  }
  .modal header h2 {
    font-size: 2rem;
  }
  .modalSubtitle-text {
    top: 7%;
    font-size: 2rem;
  }
  form div {
    width: 100%;
    margin-bottom: auto;
  }
  form label {
    font-size: 1.5rem;
  }
  form input {
    height: 50px;
  }
  .error {
    font-size: 1rem;
  }
  textarea [name="message"] {
    width: 100%;
  }
  button.contact_button {
    margin-top: 15px;
  }

  /*portfolio*/
  .portfolioContainer {
    flex-direction: column;
    align-items: center;
  }
  figure.portfolio__media {
    width: 100%;
    margin: 10px 0px 0 -6px;
  }
  img.portfolio__media-img,
  .portfolio__media-video {
    width: 350px;
    margin: auto;
  }
}
