@import url("photographer.css");

body {
  font-family: "DM Sans", sans-serif;
  margin: auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 40px 7% 100px 7%;
}

h1 {
  color: #901c1c;
  font-weight: bold;
  font-size: 2em;
  margin: 10px 0 10px 52px;
}

#logo {
  height: 50px;
}

.photographer_section {
  display: flex;
  margin-top: 100px;
  margin-bottom: 100px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
}

.photographer_section article {
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 33%; /**/
} /*ajout informations location*/
.informations {
  text-align: center;
  text-align: center;
  margin: -40px 0 40px 0;
  line-height: 14px;
}
.location {
  color: #8f1d1d;
}
.photographer_section article h2 {
  color: #d3573c;
  font-size: 36px;
}

.photographer_section article img {
  /**/
  width: 200px;
  height: 200px;
  background-size: cover; /*supprimer*/
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 20px;
  box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
}
@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: center;
  }
  header h1 {
    margin: 10px auto;
  }
  .photographer_section {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .photographer_section article {
    width: 90%;
  }
  .photographer_section article img {
    height: 300px;
    width: 90%;
  }
}
